{% extends 'App1/father2.html' %}
{% load static %}
{% block changingContent %}
<h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">About the Project</h1>

<h2 class="mb-5">aqui va la descripcion del proyecto</h2>

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Team Members</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="justify-content-center">
            <!-- Portfolio Item 1-->
    
            </div>
</section>     


</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Ilse Dalmazo</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." />
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col ms-auto"><p class="lead">aqui va biografia de Ilse</p></div>
            
        </div>
        <!-- About Section Button-->
        
            </a>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Ivan Monzón</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." />


    </div>

        <!-- About Section Content-->
        <div class="row">
            <div class="col ms-auto"><p class="lead">aqui va biografia de Ivan</p></div>
           
        </div>
        <!-- About Section Button-->
        
            </a>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Jesandy Bolaños</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." />

    </div>

        <!-- About Section Content-->
        <div class="row">
            <div class="col ms-auto"><p class="lead">aqui va biografia de jesa</p></div>
            
        </div>
        <!-- About Section Button-->
        
            </a>
        </div>
    </div>
</section>
{% endblock %}