{% extends 'App1/father2.html' %}
{% load static %}
{% block changingContent %}
<h1 class="mb-5">Listing Artist!</h1>
<ul>
    {% for artist in object_list %}
        <li>
            <p>Name: {{artist.name}}</p>
            <p>
                    <a class="btn-outline-light mb-3" href="{% url 'ArtistDetail' artist.id %}">Detail</a>
                    <a class="btn-outline-light mb-3" href="{% url 'ArtistUpdate' artist.id %}">Update</a>
                    <a class="btn-outline-light mb-3" href="{% url 'ArtistDelete' artist.id %}">Delete</a>
            </p>    
        </li>
    {% endfor %}
</ul>    
{% endblock %}